body{
	background-image:url(../img/background.jpg);
	background-repeat: no-repeat;
}
.caption{
	text-align: center;
	color:white;
	text-shadow: -7px -4px 3px black;
}
.div1{
	color:white;
	width: 300px;
	height: 350px;
	background-color: rgba(127,127,127,0.5);
	margin: 70px 52%;
	border:2px;
	border-style: dotted;
}
.table{
	text-align:center;
	margin: auto;
}
#tfoot{
	text-align: right;
}
.paragraph{
	text-align: justify;
	color:white;
}
.footer{
	background-color: white;
	text-align:right;
	color:blue;
}